.links{
    position: absolute;
    left: 0;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        width: 25px;
        margin: 2px 0;
        transition: all 0.3s ease 0s;
        &:hover{
            transform: scale(1.3);
        }
    }
    a{
        width: 25px;
      
    }
    svg{
        height: 25px;
        width: 25px;
    }
}


.light{
    .change-svg{
        svg,path{
            fill: $text-color-dark;
        }
    }
}
.dark{
    .change-svg{
        svg,path{
            fill: $text-color-light;
        }
    }
}