.popup{
    display: none;
    width: 100%;
    top: 0;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(255,255,255,0.2);
    overflow: hidden;
    color: $text-color-dark;
    &__wrap{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 700px;
        width: 100%;
        height: 500px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 15px 0 black;
    }
    &__container{
        padding: 40px;
        h4{
            text-align: center;
            color: $text-color-dark;
        }
    }
    &.open{
        display: block;
    }
    &.bigdrop{
        .change-path{
            fill: $text-color-dark;
        }

    }
    &__content{
        text-align: center;
        margin: 20px 0;
        h4{

        }
    }



    &__image{
        text-align: center;
        margin: 20px 0;
    }

    &__block{
        color: $text-color-dark;
        text-align: center;
    }
    .close{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}

.open-popup{
    overflow: hidden;
}