header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $indent*3 0;
        @include for-tablet-landscape-up{    
            padding: $indent*7 0;
        }
    }
}